<% provide :title, t(".about") %>
<h1><%= t ".about" %></h1>
<p>
  <%= t "the" %> <em><%= link_to t(".ror_tut"),
   "http://www.railstutorial.org/" %></em> is a
  <%= link_to t(".book"),"http://www.railstutorial.org/book" %> and
  <%= link_to t(".series"),"http://screencasts.railstutorial.org/" %>
  <%= t ".abt" %>
  <%= link_to t(".ror"),"http://rubyonrails.org/" %>.
  <%= t ".ab_txt" %>
</p>
